#button-container {
    width: 370pt;
    background: gray;
    overflow-y: auto;
}

.submit-activity {
    width: 100pt;
    height: 100pt;
    float: left;
    background: lightgray;
    margin: 15px;
    font-size: 36pt;
}

.display-current {
    font-size: 50px;
}