#button-container {
    width: 370pt;
    background: gray;
    overflow-y: auto;
}

.submit-activity {
    width: 100pt;
    height: 100pt;
    float: left;
    background: lightgray;
    margin: 15px;
    font-size: 24pt;
}

.display-current {
    font-size: 50px;
}

.time-span-entry {
    text-align: right;
}

.unverified-login { }

.verified-login { }

.hidden {
    display: none;
}

#tab-selector button {
    float: left;
}

#button-logout {
    float: right;
}

.tab {
    clear: both;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.close-button {
    color: red;
    background-color: white;
    font-weight: bold;
}

fieldset {
    width: 0px;
}

#edit-data-table {
    width: 400px;
}

.edit-data-invalid-row {
    background-color: lightsalmon;
}
